<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ГИС ИВЭП</title>
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@0.7.3/dist/leaflet.js"></script>
    <script src="http://labs.easyblog.it/maps/leaflet-panel-layers/dist/leaflet-panel-layers.min.js"></script>
    <!--<script src="{% static 'js/leaflet-panel-layers.min.js' %}" type="text/javascript"></script>-->
    <link href="{% static 'css/leaflet-panel-layers.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="/static/resources/ol.css"/>
    <link rel="stylesheet" href="/static/resources/ol3-layerswitcher.css">
    <link rel="stylesheet" href="/static/resources/qgis2web.css">
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="../" class="navbar-brand">SatGIS 1.0
            <small> ГИС ИВЭП СО РАН</small>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">


            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/waterobjects">Водные объекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О проекте</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="container">


    <h2 style="margin-top:80px; color:#000;">Публикации по теме проекта</h2>

    <div class="content"
         style="color:#000; background-color: #ffffff; font-size: 16px; padding:20px; text-align: left;">
        <ol>
            <li>Донцов, А.А., Специализированная геоинформационная система автоматизированного мониторинга рек и
                водоемов / А.А. Донцов, И.А. Суторихин // Вычислительные технологии. — 2017. — Т. 22, №5 — С. 39-46.
            </li>
            <li> Донцов, А.А., Региональная геоинформационная система оперативного космического мониторинга/ A.A.
                Донцов, Н.В. Волков, A.A Лагутин // Журнал Сибирского федерального университета. Серия: Техника и
                технологии. — 2015. — Т. 8(6). — С. 763-769.
            </li>
            <li> Донцов, А.А. Определение пощади акватории озер по данным дистанционного зондирования Земли и
                ГИС-технологий / А.А. Донцов, И.А. Суторихин // Естественные и технические науки. — 2016. № 11 (101).
                С. 106–109.
            </li>
            <li> Донцов, А.А. Разработка технологии организации каталогов спутниковых данных / А.А. Донцов, Н.В. Волков,
                А.А. Лагутин // Известия Алтайского государственного университета. — 2014. № 1-2. С. 172-175.

            </li>
            <li> Волков, Н.В. Разработка геопортальной системы для решения задач регионального космического мониторинга
                / Н.В. Волков, А.А. Донцов, А.А. Лагутин // Известия Алтайского государственного университета. — 2013. №
                1-2 (77). С. 151–156.


            </li>

            <li> Донцов А.А. Геоинформационная система регистрации гидрологических параметров внутриконтинентальных
                водных объектов . А.А. Донцов, И.А. Суторихин
                // Вестник АлтГТУ. 2018. №  4.   С. 118-122.


            </li>
            <li> Донцов, А. А. Геоинформационная система регистрации гидрологических параметров внутриконтинентальных
                водных объектов / А.А. Донцов, И.А. Суторихин // «Дистанционные методы зондирования Земли и
                фотограмметрия, мониторинг окружающей среды, геоэкология»: сб. материалов в 2 т. Т.1.
                — Новосибирск: СГУГиТ — 2018. — С. 74-80.


            </li>
            <li>
                Донцов, А. А. Данные дистанционного зондирования земли и ГИС технологии в задачах регистрации параметров
                внутриконтинентальных водных объектов / А.А. Донцов, И.А. Суторихин // Обработка пространственных данных
                в задачах мониторинга природных и антропогенных процессов [Электронный ресурс]: Труды всероссийской
                конференции (29-31 августа 2017 г.). Новосибирск — 2017. — С. 172-175.
            </li>
            <li>
                Донцов, А. А. ГИС технологии и данные дистанционного зондирования земли в задачах регистрации
                гидрологических параметров внутриконтинентальных водных объектов / А.А. Донцов, И.А. Суторихин //
                Современные проблемы водохранилищ и их водосборов Труды VI Международной научно-практической
                конференции. В 3-х томах. Научные редакторы А.Б. Китаев, О.В. Ларченко, С.А. Двинских. — 2017. —
                С. 56-59.
            </li>

        </ol>


        <h3>
            Свидетельства:
        </h3>

        <ol>
            <li>
                Донцов, А. А., Суторихин, И. А., Гидрологические параметры рек и водоёмов Западной Сибири. Свидетельство
                о государственной регистрации базы данных № 2018621130, заявка 2018620418, дата рег. 24.07.2018. — М.:
                Роспатент, 2018.
            </li>
            <li>
                Донцов, А. А., Суторихин, И. А., ML Geo processing. Свидетельство о государственной регистрации
                программы для ЭВМ № 2017617154, заявка 2017611248, дата рег. 27.05.2017. — М.: Роспатент, 2017.
            </li>

        </ol>
    </div>

</div>
<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container">
        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase">SibWater 1.0</h5>
                    <p>Web-платформа регистрации гидрологических параметров внутриконтинентальных водных объектов.</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase">Меню</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/waterobjects">Водные объекты</a>
                        </li>
                        <li>
                            <a href="/about">О проекте</a>
                        </li>
                        <li>
                            <a href="https://github.com/alexdontsov/satgis">Github</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
    </div>

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="sibwater.ict.nsc.ru"> sibwater.ict.nsc.ru </a>
    </div>
    <!--/.Copyright-->


</footer>
<!--/.Footer-->

</body>
</html>
