@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ede7f6;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
.pagination {
    padding:20px;
    margin: 0 auto;
    display: block;
    width: 40%;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #304ffe;
  font-size:37px;
}

.masthead-nav > li {
  display: inline-block;
  color: #304ffe;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #304ffe; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #304ffe;

}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #304ffe;
  border-bottom-color: #304ffe;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1200px;
  }
}
/*-----------------*/


#map {
	border-radius:.125em;
	border:2px solid #1978cf;
	box-shadow: 0 0 8px #999;
	margin-top: 20px;
	float:left;
	width:800px;
	height:400px;
}
label {
	float: left;
}


.leaflet-panel-layers {
    background: #3f51b5;
}
.leaflet-panel-layers-item {
  color: #000;
}

label {
	float: left;
}
pre {
	font-family: "Courier New";
	font-size: .85em;
	color: #333;
	float: left;
	clear: both;
	padding: 10px;
	margin: 10px 0;
	background-color: #eee;
	box-shadow: inset 2px 2px 4px #ccc;
}
#copy {
	position:fixed;
	z-index:1000;
	right:150px;
	top:-8px;
	font-size:.85em;
	padding:8px 8px 2px 8px;
	background: #323b44;
	border: 2px solid #737c85;
	border-radius:.7em;
	opacity: 0.9;
	box-shadow:0 0 8px #5f7182;
	color:#eee
}
#copy a {
	color:#ccc;
	text-decoration:none
}
#copy a:hover {
	color:#fff
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	filter: alpha(opacity=80);
	-khtml-opacity: .8;
	-moz-opacity: .8;
	opacity: .8;
}

#comments {
	margin-top:50px;
	clear:both;
}

#carouselExampleIndicators {
    height:600px;
}

.news-index {color: #000; margin-top:20px; text-align:left}
.news-index a {color: #2196f3;}
.news-index a.podr {text-align:right; float:right}
.news-index .card { margin: 10px 0;}
.page a, a:focus, a:hover {
    color:#0078A8;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}
.page select.form-control:not([size]):not([multiple]) {
height: auto;
}
#config {
	margin: 0 10px;
	padding: 0;
	height: 370px;
	width: 600px;
	font-size: 10px;
	box-shadow: inset 2px 2px 4px #ccc;
	border: 2px solid #1978cf;
}
.masthead {
  height:200px;
}

.ol-popup {
color:#000;
line-height: 1;
}

.layer-switcher .panel { color:#000; }
.leaflet-popup-content {color:#000; }

footer.page-footer {
    bottom: 0;
    color: #fff;
}
.font-small {
    font-size: .9rem;
}
.blue {
    background-color: #2196f3 !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    font-size: .9rem;
    color: rgba(255,255,255,.6);
}
.text-center {
    text-align: center !important;
}
.page {
    position: relative;
    overflow: hidden;
    background-color:#fff;
}