{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="map" style="width: 100%; height: 700px; margin-top:80px;"></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"># id</th>
        <th scope="col"></th>
        <th scope="col">Слой</th>
        <th scope="col">Параметр</th>
        <th scope="col">Формат</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody>
  {% for layer in layers %}
    <tr>
        <th scope="row">{{ layer.id }}</th>
        <td>
          <input class="layer_control" name="layer_control" type="checkbox"
                 id="{{ layer.id }}"
                 value="{{ layer.title }}"
                 data-path="{{ layer.file }}"
                 data-typemap="{{ layer.type }}"
          >
        </td>
        <td>{{ layer.title }}</td>
        <td>{{ layer.param }}</td>
        <td><a href="/rasters/{{ layer.file }}">{{ layer.type }}</a></td>
        <td>{{ layer.date }}</td>

      </tr>

    {% endfor %}

    </tbody>
  </table>
</div>
<script type="text/javascript">
    var mymap = L.map('map').setView([{{water_obj.lat}}, {{water_obj.long}}], 8);

	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,

	}).addTo(mymap);

	var esri = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
		maxZoom: 18,
		name: "Esri.WorldImagery",

	});

	var layers = {};

	var layerGroup = L.layerGroup().addTo(mymap)

	function addLayerToMap(layerId, format) {

	    var url = '/cgi-bin/mapserv?map={{ project_path }}/static/maps/'+format+'.map&ctype={{ project_path }}/rasters/'+layerId;

	    var layer = L.tileLayer.wms(url, {
		    maxZoom: 18,
            format: 'image/png',
            transparent: true,
            layers: 'NDVI',
            crs: L.CRS.EPSG4326,
            version: '1.1.1',
	    });

	    return layer;

    }
</script>
<script type="text/javascript">
{% for layer in layers %}
    layers["{{ layer.id }}"] = addLayerToMap($('#{{ layer.id }}').data("path"), $('#{{ layer.id }}').data("typemap"));
{% endfor %}

    $(".layer_control").change(function() {
                   layerGroup.addLayer(layers[$(this).attr('id')]);
                   var ischecked= $(this).is(':checked');
                   if(!ischecked) {
                        var x_id = L.stamp(layers[$(this).attr('id')]);
                        var layerObj = layers[$(this).attr('id')];
                        layerGroup.removeLayer(x_id);

                   }
     });
</script>
{% endblock %}


