{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="map" style="width: 100%; height: 700px;"></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"># id</th>
        <th scope="col"></th>
        <th scope="col">Слой</th>
        <th scope="col">Тип</th>
        <th scope="col">Дата</th>
      </tr>
    </thead>
    <tbody>
  {% for layer in layers %}
    <tr>
        <th scope="row">{{ layer.id }}</th>
        <td>
          <input class="layer_control" name="layer_control" type="checkbox"
                 id="{{ layer.id }}"
                 value="{{ layer.title }}"
                 data-path="{{ layer.file }}"
                 data-typemap="{{ layer.type }}"
          >
        </td>
        <td>{{ layer.title }}</td>
        <td>{{ layer.type }}</td>
        <td>{{ layer.date }}</td>

      </tr>

    {% endfor %}

    </tbody>
  </table>
</div>
<script type="text/javascript">
    var mymap = L.map('map').setView([52.46, 82.37], 8);

	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,

	}).addTo(mymap);

	var esri = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
		maxZoom: 18,
		name: "Esri.WorldImagery",

	});

	var layers = {};

	var layerGroup = L.layerGroup().addTo(mymap)

	function addLayerToMap(layerId, format) {

	    var url = 'http://localhost/cgi-bin/mapserv?map=/home/alex/DCORP/SatGis/satgis/static/maps/'+format+'.map&ctype=/home/alex/DCORP/SatGis/satgis/rasters/'+layerId;

	    var layer = L.tileLayer.wms(url, {
		    maxZoom: 18,
            format: 'image/png',
            transparent: true,
            layers: 'NDVI',
            crs: L.CRS.EPSG4326,
            version: '1.1.1',
	    });

	    return layer;

    }
</script>
<script type="text/javascript">
{% for layer in layers %}
    layers["{{ layer.id }}"] = addLayerToMap($('#{{ layer.id }}').data("path"), $('#{{ layer.id }}').data("typemap"));
{% endfor %}

    $(".layer_control").change(function() {
                   layerGroup.addLayer(layers[$(this).attr('id')]);
                   var ischecked= $(this).is(':checked');
                   if(!ischecked) {
                        var x_id = L.stamp(layers[$(this).attr('id')]);
                        var layerObj = layers[$(this).attr('id')];
                        layerGroup.removeLayer(x_id);

                   }
     });
</script>



<!--{{ request.path }}-->

<!--{% if request.path == '/waterobjects/1-novosibirskoe-vodokhranilishche/' %}-->
    <!--<script src="{% static 'js/map.js' %}" type="text/javascript"></script>-->
<!--{% elif request.path == '/waterobjects/2-oz-krasilovskoe/' %}-->
    <!--<script src="{% static 'js/map-kr.js' %}" type="text/javascript"></script>-->
<!--{% elif request.path == '/waterobjects/3-oz-teletskoe/' %}-->
     <!--<script src="{% static 'js/map-tel.js' %}" type="text/javascript"></script>-->
<!--{% elif request.path == '/waterobjects/None-oz-kulundinsoke/' %}-->
<!--<script src="{% static 'js/map-kl.js' %}" type="text/javascript"></script>-->
<!--{% endif %}-->
{% endblock %}


